@page
@model build.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Property)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.propertyID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
